# Dependencies
node_modules/

# Build output
dist/
build/
.out/
.next/
expo-build/

# React Native
android/app/build/
android/.gradle/
android/local.properties
ios/build/
*.keystore
*.jks

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Editor
.vscode/
.idea/
.history/

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Others
coverage/
